{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="container-y container-fluid">
        <div class="gap-2 d-grid">
            <a class="btn btn-primary w-100" href="{{ url('app_admin_posting_create') }}">
                Stwórz nowe ogłoszenie
            </a>

            {% embed 'common/accordion.html.twig' %}
                {% if postings is not empty %}
                    {% for posting in postings %}
                        {% include 'pages/admin/posting/posting-item.html.twig' with {
                            posting: posting
                        } %}
                    {% endfor %}
                {% else %}
                    {% embed 'common/accordion-item.html.twig' %}
                        <p>Nie stworzono jeszcze żadnych ogłoszeń. Stwórz nowe żeby je tu zobaczyć</p>
                    {% endembed %}
                {% endif %}
            {% endembed %}
        </div>
    </div>
{% endblock %}
