{# @var error \Exception #}

{% extends 'layouts/base.html.twig' %}

{% block title %}Error during Form Manipulation{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h1>{{ error.message }}</h1>
        </div>
        <div class="card-body">
            <p>{{ error.file }}:{{ error.line }}</p>
            <hr/>
            <pre>{{ error.trace|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
        </div>
    </div>
{% endblock %}
