@import './packages/packages.scss';
@import './styles/app.scss';
@import './views/views.scss';
@import '@fortawesome/fontawesome-free/css/all.min.css';

.table-cells-vertical td {
    vertical-align: center;
}

label.required:after {
    content: " *";
    color: red;
}

fieldset {
    input[type="checkbox"].required + label:after {
        content: " *";
        color: red;
    }
}
