{% set subPostings = form.subPostings %}
<div class="mb-3 subpostings-wrapper"
     data-hook="collection-type"
     data-prototype="{{ include('pages/admin/posting/manage/subposting-item.html.twig', {subPosting: subPostings.vars.prototype})|e('html_attr') }}"
    {#     data-item-wrapper-selector="#subposting-wrapper" #}
     data-item-selector=".subposting-item"
     data-items-list-selector=".subpostings-accordion"
     data-add-selector=".add-subposting"
     data-remove-selector=".remove-subposting"
     data-index="{{ subPostings|length }}"
     data-hook="collection-type"
>
    {{ form_label(form.subPostings) }}
    <div class="mb-3">
        {% embed 'common/list-accordion/accordion.html.twig' with {classes: 'subpostings-accordion'} %}
            {% for subPosting in subPostings %}
                {% include 'pages/admin/posting/manage/subposting-item.html.twig' %}
            {% endfor %}
        {% endembed %}
    </div>
    <button type="button" class="btn btn-secondary btn-sm add-subposting">
        <i class="fa fa-plus"></i> Dodaj podzajęcia
    </button>
</div>
{% do form.subPostings.setRendered(true) %}
