{% extends 'layouts/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="pt-4">
            {% include 'common/alerts/display.html.twig' %}
            <div class="card bg-light mb-3 mt-5">
                <div class="card-header">{{ 'security.form.reset_password.header'|trans }}</div>
                <div class="card-body">
                    {% embed 'components/user/user-form.html.twig' with {
                        form: form
                    } %}
                        <div class="col-md-12">
                            {{ form_button(form, {variant: 'primary', label: 'security.form.reset_password.submit'|trans }) }}
                            {{ form_button(form, {variant: 'secondary', icon: 'door-open', label: 'common.cancel'|trans, href: url('app_user_index')}) }}
                        </div>
                    {% endembed %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
