{% extends 'layouts/base.html.twig' %}
{% block body %}
    <div class="d-flex justify-content-center w-100 pt-4">
        <div class="card bg-light mb-3 mt-5" style="width: 800px">
            <div class="card-header">Registration Form</div>
            <div class="card-body">
                {% include 'forms/user-form.html.twig' with {
                    form: form
                } %}
            </div>
        </div>
    </div>
{% endblock %}
