{% extends 'layouts/base.html.twig' %}
{% block body %}
    <div class="container pt-4">
        {% include 'common/alerts/display.html.twig' %}
        <div class="card bg-light mb-3 mt-5" style="width: 800px">
            <div class="card-header">{{ 'admin.accounts.form.header'|trans }}</div>
            <div class="card-body">
                {% embed 'components/user/user-form.html.twig' with {
                    form: form
                } %}
                    <div class="col-md-12">
                        {{ form_button(form, {variant: 'primary', icon: 'user', label: 'admin.accounts.form.submit'|trans}) }}
                        {{ form_button(form, {variant: 'secondary', icon: 'door-open', label: 'common.cancel'|trans, href: url('app_index_index')}) }}
                    </div>
                {% endembed %}
            </div>
        </div>
    </div>
{% endblock %}
