{% extends 'layouts/base.html.twig' %}
{% import 'pages/admin/macros.html.twig' as macros %}
{% block body %}
    <div class="pt-4">

        <div class="card mx-auto" style="width: 800px">
            <div class="card-body">
                <ul class="list-group">
                    {% if constant('App\\Security\\Entity\\UserRoles::SUPER_ADMIN').value in app.user.roles %}
                        {{ macros.nav_item('Create new Admin user here', 'fa-user-plus', url('app_admin_create_account'), 'a') }}
                        {{ macros.nav_item('Manage all Admin users here', 'fa-users', url('app_admin_admins'), 'a') }}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
